*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.center-text{
    text-align: center;
    
}

h1{
    font-weight: 900;
    font-size: 55px;
    color: white;
    padding-top: 10%;
}

.btn{
    background-color: tomato;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
}

.center-text p{
    padding: 30px;
    font-size: small;
    color: white;
}

.first-section{
    height: 550px;
    width: 100%;
    background-image: url(images/Rectangle\ 237.png);
    background-size: cover;
}

.center-text2{
    text-align: center;
    padding-top: 80px;
}

h2{
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 20px;
}

.center-text2 p{
    padding-bottom: 50px;
}

.small-box{
    font-size: 25px;
    border: 8px solid #FAFAFA;
    background-color: #FAFAFA;
    padding: 20px 15px;
    border-radius: 5px;
    margin-right: 10px;
}

#select-box{
    background-color: #FFEEEE;
    border: 5px solid #FF5959;
    color: #FF5959;
}

#short-text{
    padding-top: 70px;
    padding-bottom: 5px;
}

hr{
    width: 50%;
    margin: auto;   
}



