*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.center-text{
    text-align: center;
    
}

h1{
    font-weight: 900;
    font-size: 55px;
    color: white;
    padding-top: 10%;
}

.btn{
    background-color: tomato;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
}

.center-text p{
    padding: 30px;
    font-size: small;
    color: white;
}

.first-section{
    height: 550px;
    width: 100%;
    background-image: url(images/Rectangle\ 237.png);
    background-size: cover;
}

.center-text2{
    text-align: center;
    padding-top: 90px;
}

h2{
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 20px;
}

.center-text2 p{
    padding-bottom: 50px;
}

.small-box{
    font-size: 25px;
    border: 8px solid #FAFAFA;
    background-color: #FAFAFA;
    padding: 20px 15px;
    border-radius: 5px;
    margin-right: 10px;
}

#select-box{
    background-color: #FFEEEE;
    border: 5px solid #FF5959;
    color: #FF5959;
}

#short-text{
    padding-top: 70px;
    padding-bottom: 5px;
}

hr{
    width: 50%;
    margin: auto;   
}

.partition{
    width: 100%;
    display: flex;
    margin-left: 10%;
}

.box-width{
    text-align: justify;
    padding: 20px 5px 20px 10px;
}

#first-part{
    border: 2px solid #4F9DA6;
    padding-right: 10px;
    padding-top: 17px;
    background-color: #89c6cdec;
    margin-right: 30px;
} 
   
#second-part{
    border: 2px solid #e58484 ;
    padding-right: 10px;
    padding-top: 17px;
    background-color: #e58484;
    margin-right: 30px;
} 

#third-part{
    border: 2px solid #a4f38cf1 ;
    padding-right: 10px;
    padding-top: 17px;
    background-color: #a4f38cf1;
} 

.box-width img {
    padding-bottom: 16px;
}

.box-width h3 {
    padding-bottom: 16px;
}

.mail-box{
    width:50%;
    padding: 60px 5px;
    border: 0 solid wheat;
    background-color: #FFF4D6;
    margin-left: 25%;
    margin-right: 25%;   
}

input{
    padding: 9px;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #D9D9D9;    
}

button{
    padding: 9px 30px;
    border: 0;
    background-color: #FF5959;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

.last-section{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black ;
    color: white;
    margin-top: 100px;
    text-align: center;
}

.last-section h3{
    color: #FF5959;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

.last-section small{
    color: #89898a;
}

.half-width{
    width:40%;

}

.contact{
    display: flex;
    padding-top: 60px;
}

.half-width img{
    width: 100%;
    margin-left: 25%;
}

.half-width h2{
    width: 80%;
    margin-left: 40%;
    padding-top: 20px;
}

.half-width p{
    width: 80%;
    margin-left: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.half-width a{
    width: 80%;
    margin-left: 40%;
    background-color: tomato;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
}


